﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layoutastromotion.cshtml";
}

<div class="row">
    <div class="col-8 offset-2 offset-2">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>DİKKAT!</strong> @ViewBag.ErrorMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ProfilePageError"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>DİKKAT!</strong> @TempData["ProfilePageError"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new
        {
            @style = "color:blue",
            @class = "form-horizontal"
        }))
        {
            
            <h4 p style="color:white ">Giriş Yapabilirsiniz...</h4>


            <label for="Email" p style="color:white;">Email:</label>
            <input type="text" name="txtEmail" class="form-control" required /> <br />

            <label for="Parola" p style="color:white;">Parola:</label>
            @Html.TextBox("txtPassword", null, new { @type = "password", @class = "form-control", required = "required" })
            <br />
            <input type="submit" value="GİRİŞ YAP" class="btn btn-primary" />

            @Html.ActionLink("KAYIT OL", "Register", "Login", new { @class = "btn btn-info" })
        }
    </div>
</div>
